{{- $tag := site.Params.amazonJpAffiliate }}
{{- $asin := .Get "asin" -}}
{{- $title := .Get "title" -}}
{{- $destination := "no_image_square.jpg" -}}
{{- $img := (.Page.Resources.ByType "image").GetMatch $destination -}}
{{- if not $img -}}
  {{- $img = resources.Get (path.Join "media" $destination) -}}
{{- end -}}
<div class="amazon-widget">
  <a target="_blank" href="https://www.amazon.co.jp/gp/product/{{ $asin }}/?tag={{ $tag }}"></a>
  <div class="amazon-widget-img">
    <img src="{{ $img }}" />
  </div>
  <div class="amazon-widget-info">
    <span class="amazon-widget-title">
      {{ $title }}
    </span>
    <span class="amazon-widget-via">
      <img src="https://www.amazon.co.jp/favicon.ico" />
      amazon.co.jp
    </span>
  </div>
</div>
